/**
 * style.less
 * @author wangbo
 * @since 2020/3/28
 * @github https://github.com/BoWang816
 */

.login-area {
	width: 100vw;
	height: 100vh;
	background: url('http://pic1.win4000.com/wallpaper/2020-03-27/5e7dc0be5b906.jpg');
	background-size: cover;
	display: flex;
	align-items: center; /* 定义body的元素垂直居中 */
	justify-content: center; /* 定义body的里的元素水平居中 */

	.login-form {
		width: 400px;
	}
}
