/**
 * style.less
 * @author wangbo
 * @since 2020/4/6
 * @github https://github.com/BoWang816
 */

.editor-class {
	min-height: 400px;
	border: 1px solid #f1f1f1;
	border-top: none;
	margin-top: -5px;
	padding: 0 10px;
}

.tag-item {
	position: absolute;
	right: -20px;
}
.operate-icon {
	svg {
		margin: 0 8px;
		&:first-child {
			color: deepskyblue;
		}
		&:nth-of-type(2) {
			color: orangered;
		}
	}
}

.ant-badge {
	.ant-badge-count {
		position: absolute;
		right: -30px;
		top: -10px;
	}
}
.ant-tag .anticon-close > {
	svg {
		font-size: 12px;
		vertical-align: initial;
		margin-left: 10px;
	}
}
.ant-card-body {
	padding-bottom: 4px;
}
.ant-form-inline .ant-form-item {
	margin-bottom: 20px;
}
